@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.container {
  .textHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin-top: 30vh;
    p {
      font-size: 1.6rem;
      color: rgb(97, 96, 96);
      font-family: 'Noto Sans KR', sans-serif;
    }
    h1 {
      font-family: "Jua", sans-serif;
      font-size: 3rem;
      span {
        color: rgb(255, 227, 65);
        font-size: 4rem;
      }
    }
  }
  .photozone {
    height: 60vh;
    margin-bottom: 30vh;
    img {
      width: 50vw;
      height: 60vh;
      box-shadow: 5px 5px 5px rgb(116, 112, 112);
    }
  }
}
